.slider-search{
  .recherche-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    margin: 20px 0 0 35px;
    background: white;
    padding: 10px 20px;
    border-left: 6px solid $secondary;
    form{
      font-family: Lato, sans-serif;
    }
  }

}