footer{
  .main-footer{
    background: $secondary;
    padding: 30px 0;
    font-family: Asap, sans-serif;
    color: white;
    h4{
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: $mediumgray;
    }
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        a{
          color: white;
          font-weight: bold;
        }
      }
    }
  }
  .sub-footer{
    padding: 10px 0;
    background: $lightgray;
    text-align: center;
    font-family: Asap, sans-serif;
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        a{
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}