header{
  padding: 8px 0;
  nav{
    &>ul{
      display: flex;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li{
        &.level-1 {
          position: relative;
          margin-right: 44px;
          &:before{
            position: absolute;
            content: '';
            left: 0;
            top: 20px;
            right: 20px;
            height: 4px;
            transform: scaleY(0);
            transform-origin: center;
            transition: transform 200ms cubic-bezier(.38,0,.74,.99);
            background: $secondary;
          }
          &:hover{
            &:before{
              transform: scaleY(1);
            }
            ul.nav-dropdown{
              display: block;
            }
          }
          & > a{
            display: inline-block;
            color: black;
            font-family: Asap, sans-serif;
            font-size: 26px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 34px 20px 34px 0;
            &.has-child{
              &:after{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                content: "⯆";
                font-size: 16px;
              }
            }
          }
          ul.nav-dropdown{
            display: none;
            position: absolute;
            left: -15px;
            list-style: none;
            background: white;
            box-shadow: rgba(0,0,0,0.4) 0 10px 10px -4px;
            width: max-content;
            z-index: 2;
            padding: 4px 15px;
            margin-bottom: 0;
            li{
              margin-bottom: 8px;
              &.separated{
                padding-top: 8px;
                border-top: 1px solid gray;
              }
              a{
                color: black;
                font-family: Asap, sans-serif;
                text-decoration: none;
                transition: all 150ms ease-in-out;
                &:hover{
                  color: $secondary;
                }
              }
            }
          }
        }
      }
    }
  }
  .login-link{
    color: $secondary;
    font-weight: bold;
  }
  .open-mobile{
    display: none;
    background: none;
    border: none;
    padding: 4px;
    margin-left: 22px;
    font-size: 22px;
    line-height: 1;
    outline: none;
  }
  .close-mobile{
    display: none;
    background: none;
    border: none;
    padding: 4px;
    margin: 10px 12px;
    font-size: 22px;
    line-height: 1;
    outline: none;
    color: $secondary;
  }
}