.liste-resultat{
  .resultat{
    padding: 15px;
    border: 1px solid #dee2e6;
    .resultat-title{
      font-size: 24px;
      margin-bottom: 0;
    }
    .resultat-subtitle{
      font-size: 18px;
      color: $mediumgray;
    }
    ul{
     
      li{

      }
    }
  }
}