footer
    .main-footer
        .container
            .row
                .col-12.col-sm-3
                    img.img-fluid(src='src/img/logo-alt.png' alt='')
                .col-12.col-sm-4.offset-1
                    h4 Annonces auto
                    ul
                        li
                            a.ac-line-bottom.ac-line-bottom-light(href='#') A propos du site annonces-auto.fr
                        li
                            a.ac-line-bottom.ac-line-bottom-light(href='#') Se connecter / S&apos;inscrire
                        li
                            a.ac-line-bottom.ac-line-bottom-light(href='#') Contact
                .col-12.col-sm-4
                    h4 Nous contacter
                    a.btn.btn-light(href='#') contact@annonces-auto.fr
    .sub-footer
        .container
            ul
                li
                    a.ac-line-bottom(href='#') Politiques de confidentialit&eacute;s
                li
                    a.ac-line-bottom(href='#') Plan du site
                li
                    | R&eacute;alisation :
                    a.ac-line-bottom(href='https://sebg.dev/portfolio') S&eacute;bastien Gaudard
script(src='src/lib/jquery/jquery-3.4.1.min.js')
script(src='src/lib/slick/slick.min.js')
script(src='src/js/slicks.js')
script(src='https://kit.fontawesome.com/683c5a95c2.js' crossorigin='anonymous')
script(src='src/js/app.js')
